<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>olylumoGUI</string>
    <key>CFBundleDisplayName</key>
    <string>olylumoGUI</string>
    <key>CFBundleIdentifier</key>
    <string>uk.co.tfc.olylumoGUI</string>
    <key>CFBundleVersion</key>
    <string>0.0.1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>dirt</string>
    <key>CFBundleExecutable</key>
    <string>olylumoGUI</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9.5</string>
    <key>NSHumanReadableCopyright</key>
    <string>(c) Mark Final, 2018</string>
</dict>
</plist>
